.class1{
    font: 30px sans-serif ;
    font-weight: 700;
}
.class2{
    font-size: 1rem;
    font-weight: 400;
}
.class3{
    background-color: green;
    color: red;
    font: bold italic;
    padding: 5px;
}
.class4{
    background-color: grey;
    width: 400px;
    border-bottom: solid 2px green;
}

.class5{
    text-transform: uppercase;
    text-align: center;
}
.class5::first-letter{
    color: green;
    text-decoration: none;
}
.class5 span{
    text-decoration: underline;
}