.body {
    background-color: lightblue;
    width: 400px;
    height: 220px;
    margin-top: 300px;
    margin-left: 250px;
    position: relative;
    animation: jump 2s infinite;
}

.tail {
    width: 200px;
    height: 25px;
    background-color: lightcoral;
    position: relative;
    left: -200px;
    top: 100px;
}

.paw-left {
    background-color: lightcoral;
    height: 175px;
    width: 25px;
    position: relative;
    top: 195px;
  animation: paw 2s infinite;
}


.paw-right {
    background-color: lightcoral;
    height: 175px;
    width: 25px;
    position: relative;
    right: 0px;
    float: right;
    top: 20px;
    animation: paw 2s infinite;
}

.head {
    height: 150px;
    width: 150px;
    position: relative;
    background-color: lightcoral;
    left: 400px;
    top: -275px;
}

.eye {
    height: 25px;
    width: 25px;
    background-color: white;
    position: absolute;
    right: 30px;
    top: 30px;
}

.ear {
    height: 100px;
    width: 50px;
    background-color: brown;
    position: absolute;
    left: -25px;
}
.body-color{
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
}
.color-1{
    background-color: hotpink;
}
.color-2{
    background-color: indianred;
}
.color-3{
    background-color: khaki;
}
.color-4{
    background-color:burlywood;
}

@keyframes paw {
    0% {transform: rotateZ(0deg);
        transform-origin: 0% 40%;}
    50%{transform: rotateZ(30deg);
        transform-origin: 0% 0%;}
    100% {transform: rotateZ(0deg);
        transform-origin: 0% 40%;}
  }

  @keyframes jump {
    0% {margin-top: 300px;}
    50%{margin-top: 200px;
        transform: rotateZ(-5deg);
        transform-origin: 10% ;}
    100% {margin-top: 300px;}
  }