.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.container div{
    width: calc(25% - 60px);
    height: 145px;
    background-color: linen;
    margin: 15px;
}

@media screen and (max-width:800px){
    .container div{
        background-color: lightseagreen;
        width: calc(50% - 30px );
    }
}

@media screen and (max-width:450px){
    .container div{
        background-color: palegreen;
        width: 100%;
    }
}